node_modules/
dist/
*.tgz
move/build/
sui/
sui-release/
move-analyzer
sui-bridge
sui-bridge-cli
sui-data-ingestion
sui-debug
sui-faucet
sui-graphql-rpc
sui-node
sui-test-validator
sui-tool
.DS_Store
*.log
